<h1>Listing tasks</h1>


<%= link_to 'New Task', new_task_path %>

<br />
############################################ 

<!--
        <li id="mh" class="slide_head">--- 1-Must Have ---</li>
        <li id="sh" class="slide_head">--- 2-Should Have ---</li>
        <li id="nh" class="slide_head">--- 3-Nice to Have ---</li>
        <li id="dh" class="slide_head">--- 4-Don't Need Now ---</li>
        <li id="np" class="slide_head">--- Not Prioritized ---</li>

-->

<ul id="tasks" data-update-url="<%= sort_tasks_url %>">
            
    <% @tasks.each do |task| %>
	
	<%= content_tag_for :li, task do %>
	    <div>
		<div class="hand">
		    [drop]
		</div>
		<div class="t_project">
		    <%= task.project %>
		</div>
		<div class="t_message">
		    <%= task.message %>
		</div>
		<div class="t_stakeholder">
		    <%= task.stakeholder %>
		</div>
		<div class="t_time">
		    <%= task.time %>
		</div>
	    </div>
	<% end %>
	
    <% end %>
    
</ul>



